In [1]:
import psycopg2

In [2]:
conn_string = "dbname=thesis user=postgres password=postgres"
conn = psycopg2.connect(conn_string)
cursor = conn.cursor()

In [3]:
input("Are you sure you want to delete?")
cursor.execute("DROP TABLE IF EXISTS experiments CASCADE;")
print("Finished dropping table experiments (if existed)")

conn.commit()
cursor.close()

Finished dropping table experiments (if existed)

In [4]:
cursor = conn.cursor()
# Create a table
cursor.execute('''CREATE TABLE experiments (
                id SERIAL PRIMARY KEY, 
                prompt1 TEXT, 
                prompt2 TEXT,
                encoding TEXT,
                story VARCHAR(20),
                story_1 VARCHAR(20),
                story_2 VARCHAR(20),
                version INTEGER,
                file VARCHAR(75),
                created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP             
                );''')
print("Finished creating table experiments")

Finished creating table experiments

In [5]:
conn.commit()
cursor.close()

In [10]:
cursor = conn.cursor()
cursor.execute("CREATE UNIQUE INDEX unique_idx_file_experiments ON experiments(file);")
conn.cursor()
cursor.close()

In [7]:
input("Are you sure you want to delete?")
cursor = conn.cursor()
cursor.execute("DROP TABLE IF EXISTS results CASCADE;")
print("Finished dropping table results (if existed)")

conn.commit()
cursor.close()

Finished dropping table results (if existed)

In [3]:
cursor = conn.cursor()
# Create a table
cursor.execute('''CREATE TABLE results (
                id_result SERIAL PRIMARY KEY, 
                file VARCHAR(75),
                kpi REAL,
                diff_lines INTEGER,
                repeated INTEGER,
                errors INTEGER,
                n_models INTEGER,
                symbols TEXT,
                messages TEXT,
                matchs INTEGER, 
                accuracy REAL,
                precision REAL,
                recall REAL,
                f1_score REAL,
                jaccard REAL,
                created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP             
                );''')
print("Finished creating table results")

Finished creating table results

In [4]:
conn.commit()
cursor.close()

In [3]:
cursor = conn.cursor()
# Create a table
cursor.execute('''CREATE TABLE newtry (
                id_result SERIAL PRIMARY KEY, 
                file VARCHAR(75),
                kpi REAL,
                diff_lines INTEGER,
                repeated INTEGER,
                errors INTEGER,
                n_models INTEGER,
                symbols TEXT,
                messages TEXT,
                matchs INTEGER, 
                accuracy REAL,
                precision REAL,
                recall REAL,
                f1_score REAL,
                jaccard REAL,
                created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP             
                );''')
print("Finished creating table results")

Finished creating table results

In [4]:
conn.commit()
cursor.close()

In [5]:
cursor = conn.cursor()
cursor.execute("CREATE UNIQUE INDEX unique_idx_file_results ON results(file);")
conn.commit()
cursor.close()

CREATE TABLE panel AS
	(SELECT id, experiments.file, prompt1, prompt2, encoding, story, story_1, story_2, version, experiments.created_at, id_result, kpi,
	 	diff_lines, repeated, n_models, errors, n_errors, symbols, matchs, accuracy, precision, recall, f1_score, jaccard 
	FROM experiments INNER JOIN results ON experiments.file = results.file )

In [6]:
sql = "CREATE TABLE panel AS (SELECT id, experiments.file, prompt1, prompt2, encoding, story, story_1, story_2, version, experiments.created_at, id_result, kpi, diff_lines, repeated, n_models, errors, n_errors, symbols, messages, matchs, accuracy, precision, recall, f1_score, jaccard FROM experiments INNER JOIN results ON experiments.file = results.file )"
cursor = conn.cursor()
cursor.execute(sql)
conn.commit()
cursor.close()

DuplicateTable: FEHLER:  Relation »panel« existiert bereits

In [3]:
sql = "CREATE TABLE ne_panel AS (SELECT id, ne_linebyline.file, prompt1, prompt2, encoding, story, story_1, story_2, version, ne_linebyline.created_at, id_result, kpi, diff_lines, repeated, n_models, errors, n_errors, symbols, messages, matchs, accuracy, precision, recall, f1_score, jaccard FROM ne_linebyline INNER JOIN ne_results ON ne_linebyline.file = ne_results.file )"
cursor = conn.cursor()
cursor.execute(sql)
conn.commit()
cursor.close()

In [9]:
sql = "SELECT COUNT(*) FROM panel"
cursor = conn.cursor()
cursor.execute(sql)
results = cursor.fetchall()
print(results)
conn.commit()
cursor.close()

[(1050,)]

In [8]:
cursor = conn.cursor()
cursor.execute('''CREATE TABLE ne_results (
                id_result SERIAL PRIMARY KEY, 
                file VARCHAR(75),
                kpi REAL,
                diff_lines INTEGER,
                repeated INTEGER,
                n_models INTEGER,
                symbols TEXT,
                matchs INTEGER,
                accuracy REAL,
                precision REAL,
                recall REAL,
                f1_score REAL,
                jaccard REAL,                
                created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
                errors TEXT,
                n_errors INTEGER,
                messages TEXT
                );''')
print("Finished creating table ne_results")
conn.commit()
cursor.close()

Finished creating table ne_results

In [7]:
conn.commit()
cursor.close()